<% include partials/header %>

<div class="row">
    <div class="search-area col s10 offset-s1">
        <p>Search using a term below</p>
        
        <form>
            <input type="text" name="query" minlength="1">    
              <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
              </button>
        </form>
    </div>
</div>

<div class="row">
    <div class="results-area col s10 offset-s1 grey lighten-3">
        <p>Results are listed below:</p>
        <div class="results-load">
            <table>
                <thead>
                    <tr>
                        <th>Column1</th>
                        <th>Column2</th>
                        <th>Column3</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Data</td>
                        <td>Data</td>
                        <td>Data</td>
                    </tr>
                    <tr>
                        <td>Data</td>
                        <td>Data</td>
                        <td>Data</td>
                    </tr>
                    <tr>
                        <td>Data</td>
                        <td>Data</td>
                        <td>Data</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>





<% include partials/footer %>